/* 
 The Margin Collapse
 [1] Only Vertical Margin Collapse
 [2] Bigger Margin Wins 
 [3] Margin Collapsing With Elements Without Anything in the middle
 [4] Nesting Does Not Prevent Collapsing
 */

.Parent {
    overflow: hidden;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 10px;
    background-color: #eee;
}

.Parent .one,
.Parent .two {
    float: left;
    width: 50%;
    height: 100%;
}

.one {
    background-color: #ddd;
    float: left;
    width: 50%;
    height: 100%;
}

.two {
    background-color: #aaa;
    float: left;
    width: 50%;
    height: 100%;
}

.up {
    background-color: green;
    color: white;
    height: 90px;
    margin-bottom: 20px;
}

.down {
    background-color: rgb(199, 0, 0);
    color: white;
    height: 90px;
    margin-top: 20px;
}