/*
   Flexible Box
   For Parent
   - display: flex => To Start Flexible Box
   - flex-direction: row => Defaul Value
   - flex-wrap: nowrap => Defaul Value
   - flex-flow: [flex-direcion] + [flex-wrap] 
   ---
   - justify-content: flex-start => Default Value
   - align-items: stretch => Default Value
   - align-content: stretch => Default Value
   For Childe
   - flex-grow: 0 => Default Value
   - flex-shrink: 1 => Default Value
   - order: 0 => Default Value 
   - flex-basis: auto => Default Value
   - flex: [Flex Grow] [Flex Shrink] [Flex Basis] 0 1 auto 
   you can make it inline-flex in display to make any thing behind it 
   */

* {
    box-sizing: border-box;
}

.flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: inline-flex;
    /* flex-direction: row;
    flex-wrap: wrap; */ 
    /* flex-flow: direction the.wrap */
    flex-flow: row wrap;
    /*
    justify-content: space-between; /* this to make space between the elements
    justify-content: space-around; /* this to make space around the elements
    */
    justify-content: space-evenly;/* this to make both of them in same time */
    align-items: center; 
    align-content: space-between;
    align-content: flex-start;
}
.in {
    display: inline-block;
}

.flex div {
    background-color: #f00;
    color: white;
    width: calc(94% / 3);
    text-align: center;
    padding: 20px
}

.Two {
    height: 120px;
}

.One {
    height: 80px;
}

.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}

.float div {
    background-color: #f00;
    color: white;
    float: left;
    width: calc(94% / 3);
    text-align: center;
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.center {
    background-color: blue;
    color: #eee;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    display: inline-block;
}