/*
   Flexible Box
   For Parent
   - display: flex => To Start Flexible Box
   - flex-direction: row => Defaul Value
   - flex-wrap: nowrap => Defaul Value
   - flex-flow: [flex-direcion] + [flex-wrap]  
*/

* {
    box-sizing: border-box;
}

.flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap-reverse;
}

.flex div {
    background-color: #f00;
    color: white;
    width: 25%;
    text-align: center;
    padding: 20px;
}

.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}

.float div {
    background-color: #f00;
    color: white;
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px;
}