/* 
    this project to learn Psuedo Classes
*/

.one {
    background-color: red;
    color: white;
}

.two {
    background-color: #eee;
    width: 100px;
    height: 100px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: red;
}

.ch:visited {
    /* after you choose the chechbox it will be hidden */
    display: none;
}

a:visited {
    color: blue;
}

.in {
    border: 2px solid black;
}

.in:focus {
    border-color: rgb(99, 99, 99);
    outline: none;
}