/* 
    The Box Model
    Box Sizing
*/

.parent {
    width: 600px;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    background-color: #ddd;
}

.one {
    background-color: #eee;
    width: 300px;
    float: left;
}