/* 
    Transition
   - Duration
   - Property
   - Delay
   - Timing Function
*/

/*
ease=> slaw . fast . slaw
ease-in => slaw . natural . natural
ease-out => natural . natural . slaw
ease-in-out => slaw . natural . slaw
linear => to equal value and equal spead
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.one { 
    background-color:#eee ;
    width: 200px;
    height: 100px;
    /* transition-duration: 1s;
    transition-delay: 0.2s;
    transition-property: width;
    transition-timing-function: ease-in-out; */
    transition: all 2s 0.5s linear;
}

.one:hover {
    width: 280px;
}

.two { 
    background-color:#eee ;
    width: 200px;
    height: 100px;
    transition: width 3s, height 1s;
}
 
.two:hover {
    width: 280px;
    height: 120px;
}

/*
The Important Declaration and Use Cases 
this is use to make control this cade and tell 
the web this code is the controler code
*/

.Test-Important-Declaration {
    background-color: #eee !important;
}